<div class="container">
    <div style="text-align: center;">
        <h1>Sign Up</h1>
    </div><br><br>
    <div style="text-align: center;">
        First Name: <input type="text" [(ngModel)]="data.firstName" required><br><br>
        Last Name: <input type="text" [(ngModel)]="data.lastName" required> <br><br>
        User Name: <input type="text" [(ngModel)]="data.usrName" required><br><br>
        Email: <input type="text" [(ngModel)]="data.email" required><br><br>
        Password: <input type="text" [(ngModel)]="data.password" required><br><br>
        Profile Image: <input type="text" [(ngModel)]="data.profileImage" ><br><br>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary" (click)="signIn(data)">Sign Up</button>
    </div>
</div>