<div class="container">
    <div style="text-align: center;">
        <h1>Sign Up</h1>
    </div><br><br>
    <div style="text-align: center;">
        First Name: <input type="text" required><br><br>
        Last Name: <input type="text" required> <br><br>
        User Name: <input type="text" required><br><br>
        Password: <input type="text" required><br><br>
        Profile Image: <input type="text" required><br><br>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary">Sign Up</button>
    </div>
</div>